.Rotors-text {
    -fx-fill: RED;
    -fx-font-size: 20;
    -fx-font-weight: BOLD;
}


.Positions-text{
    -fx-fill: PURPLE;
    -fx-font-size: 20;
    -fx-font-weight: BOLD;
}

.Reflector-text{
    -fx-fill: BLUE;
    -fx-font-size: 20;
    -fx-font-weight: BOLD;
}

.PlugBoardPairs-text{

    -fx-fill: #ff9900;
    -fx-font-size: 20;
    -fx-font-weight: BOLD;

}
.Label-Style{

    -fx-font-size: 13;

}

