.button{
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-weight: BOLD;
    -fx-border-width: 4;
    -fx-background-image: url("/Resources/1200px-Basketball_Clipart.svg.png");
    -fx-background-size: 60px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;

}

#First-Load-File-Label{
    -fx-background-color: #f19c67;
}


#Titels-Label{
    -fx-background-color: #ff6600;

}

.label{
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-weight: BOLD;

}

.root{
    -fx-font-family: "dark mode";
    -fx-base: rgb(238, 193, 169);
    -fx-background: rgb(238, 193, 169);

}