.button{
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-weight: BOLD;
    -fx-border-radius: 15;
    -fx-padding: 3 6 6 3;
    -fx-border-color: #000057;
    -fx-border-width: 4;

}

#First-Load-File-Label{
    -fx-background-color: #8a8ab4;
}

#Titels-Label{
    -fx-background-color: #000057;

}

.label{
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-weight: BOLD;

}


.root{
    -fx-font-family: "dark mode";
    -fx-base: rgb(63, 63, 89);
    -fx-background: rgb(63, 63, 89);
}