
#singleCandidate-VBox{
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-border-width: 10px;
    -fx-border-color: #dfa1f6;
}

#remove-Button{
    -fx-shape:  "M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z";
    -fx-text-fill: rgb(23, 22, 22);
    -fx-font-weight: BOLD;
    -fx-border-color: #f57dda;
    -fx-border-width: 4;
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;
}

.button{
    -fx-shape:  "M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z";
    -fx-text-fill: rgb(23, 22, 22);
    -fx-font-weight: BOLD;
    -fx-border-color: rgba(232, 112, 206, 0.89);
    -fx-border-width: 2;
    -fx-pref-height: 100px;
    -fx-pref-width: 250px;

}

#First-Load-File-Label{
    -fx-background-color: #f68ce8;
}

#Titels-Label{
    -fx-background-color: #fc7fc6;

}

.label{
    -fx-text-fill: rgb(23, 22, 22);
    -fx-font-weight: BOLD;

}


.root{
    -fx-font-family: "pink mode";
    -fx-base: rgb(246, 205, 239);
    -fx-background: rgb(250, 215, 240);
}
