
.positions-text{
    -fx-text-fill: PURPLE;
}

.text-button{
    -fx-font-weight: BOLD;
}

#First-to-conf-Label{
    -fx-background-color: Yellow;
}

#SelectedReflectorComboBox .list-cell{
    -fx-text-fill: BLUE;
    -fx-font-size: 14;
    -fx-font-weight: BOLD;
}
.combo-box .list-cell {
    -fx-text-fill: BLUE;
    -fx-font-size: 14;
    -fx-font-weight: BOLD;
}

.plugBoardpairs-label{
    -fx-text-fill: #ff6600;
}

.rotors-text {
    -fx-text-fill: RED;
}
.currentCode-Label{
    -fx-font-size: 18;
    -fx-font-weight: BOLD;
    -fx-background-color: #d0f6c1;}
.scroll-pane {
    -fx-background-color:transparent;
}