.Rotors-text-Small-Font{
    -fx-fill: RED;
    -fx-font-size: 15;
    -fx-font-weight: BOLD;
}


.Positions-text-Small-Font{
    -fx-fill: PURPLE;
    -fx-font-size: 15;
    -fx-font-weight: BOLD;
}

.Reflector-text-Small-Font{
    -fx-fill: BLUE;
    -fx-font-size: 15;
    -fx-font-weight: BOLD;
}

.PlugBoardPairs-text-Small-Font{

    -fx-fill: #ff9900;
    -fx-font-size: 15;
    -fx-font-weight: BOLD;
}
.Label-Style-Small-Font{

    -fx-font-size: 9;

}

