.currentRotors-button {
    -fx-text-fill: RED;
    -fx-font-size: 16;
    -fx-font-weight: BOLD;
}

.currentPositions-button {
    -fx-text-fill: PURPLE;
    -fx-font-size: 16;
    -fx-font-weight: BOLD;
}


.currentReflector-button {
    -fx-text-fill: BLUE;
    -fx-font-size: 16;
    -fx-font-weight: BOLD;
}

.currentPlugBoardPairs-button {
    -fx-text-fill: #ff6600;
    -fx-font-size: 16;
    -fx-font-weight: BOLD;
}

.currentCode-Label{
    -fx-font-size: 18;
    -fx-font-weight: BOLD;
}

.table-view .column-header.label.RotorIDColumn {
    -fx-text-fill:  RED;
}

.list-cell
{
    -fx-text-fill: #ff6600;
}

.currentCode-Label {
    -fx-font-size: 18;
    -fx-font-weight: BOLD;
}