.label{
    -fx-font-weight: BOLD;
}

#singleCandidate-VBox{
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-border-width: 10px;
    -fx-border-color: #9e8ea1;
}


#First-Load-File-Label{
    -fx-background-color: Yellow;
}

