.text-label{
    -fx-font-weight: BOLD;
}

#singleCandidate-VBox{
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-border-width: 10px;
    -fx-border-color: #dfa1f6;
}
